.row .form-floating label {
    padding: 0.7813rem 1.7813rem !important;
}
.app-brand-logo img {
    width: 190px !important;
}
#color-footer {
    margin-top: 60px !important;
    background-color: #512d75;
}
#footer-text,
.footer-text {
    text-align: center !important;
    color: #fff !important;
}
.footer-linkpart {
    text-align: center;
    margin-top: 1rem;
}
.footer-link {
    color: #fff !important;
    font-size: 0.8rem;
}

/* register and login page */
.cancel-button {
    width: 100%;
    display: block;
    background-color: red;
    color: #fff;
    padding: 0.4rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.cancel-button:hover {
    color: #fff !important;
}

/* order manage page */
.schedule-calendar {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
    width: 100% !important;
}
.home-card {
    width: 78% !important;
}
.table th {
    font-size: 1rem !important;
    padding: 1rem 4rem !important;
    cursor: pointer;
}
.home-card table td {
    padding: 3rem 4rem;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.home-card table td span {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.control-part1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0 0;
}
#monthYear {
    padding: 0 15px;
}
.control-part2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
    width: 20%;
}
.control-part2 .btn-group1,
.control-part2 .btn-group2 {
    display: flex;
    flex-direction: column;
}
#order-save,
#order-cancel {
    margin-top: 10px;
}

@media only screen and (max-width: 1650px) {
    .schedule-calendar {
        flex-direction: column;
    }
    .home-card {
        width: 100% !important;
    }
    .control-part2 {
        margin-top: 10px;
        width: 100% !important;
        justify-content: center;
        gap: 15px;
    }
    .control-part2 .btn-group1,
    .control-part2 .btn-group2 {
        flex-direction: row-reverse;
        gap: 15px;
    }
    #order-save,
    #order-cancel {
        margin-top: 0;
    }
}

@media only screen and (max-width: 768px) {
    .home-card table td {
        padding: 1.5rem 2rem;
    }
    .home-card table td span {
        bottom: 0;
    }
    .control-part1 {
        padding: 30px 0 0;
    }
    #monthYear {
        padding: 0 15px;
    }
    .table th {
        font-size: 0.75rem !important;
        padding: 1rem 2rem !important;
    }
}

@media only screen and (max-width: 450px) {
    .control-part2 .btn-group1,
    .control-part2 .btn-group2 {
        flex-direction: column;
    }
}

/* user page */
#user-tbody tr td {
    text-align: center !important;
}

/* usage page */
.massetb-4 {
    padding: 30px;
}
.usage-card-body {
    border: 1px solid #636578;
    padding-left: 30px;
}
.me-1 {
    color: #636578 !important;
}

@media only screen and (max-width: 450px) {
    .massetb-4 {
        padding: 10px;
    }
}

/* home2 page */
.monthly-table th {
    padding: 1rem !important;
}

/* userManage page */
.grade-search {
    display: flex;
    width: 70%;
    margin-left: auto;
}
.grade-filter {
    margin-left: 0 !important;
}
.graduation_year {
    text-align: right !important;
}
label {
    color: #000;
}
.label-padding {
    padding-right: 5px !important;
}
#graduation_year {
    height: 35px !important;
}
[type="search"] {
    outline-offset: 0 !important;
    -webkit-appearance: textfield;
}

@media only screen and (max-width: 950px) {
    .grade-search {
        width: 100% !important;
    }
    .graduation_year {
        text-align: left !important;
    }
}
@media only screen and (max-width: 700px) {
    .grade-search {
        flex-direction: column !important;
    }
}
@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left !important;
    }
}


#monthYear {
    cursor: pointer !important;
}


/* sus page */
.sus-row {
    margin-left: 30px !important;
}
#sus-date, #sus-reason {
    width: 30% !important;
}
@media screen and (max-width: 700px) {
    .sus-row {
        margin-left: 0px !important;
    }
    #sus-date, #sus-reason {
        width: 100% !important;
    }
}

/* rest page */
.setting-part {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
@media screen and (max-width: 795px) {
    .setting-part {
        flex-direction: column;
        gap: 0;
    }
}

.display-part {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.display-part > div {
    width: 22%;
}

@media screen and (max-width: 795px) {
    .display-part > div {
        width: 45%;
    }
}

/* news page */
#news_title, #news_content, #news_date {
    width: 70% !important;
}

#news_table th, #news_table td {
    text-align: center;
}
@media screen and (max-width: 950px) {
    #news_title, #news_content, #news_date {
        width: 100% !important;
    }
}

/* menu page */
.menu-part {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 685px) {
    .menu-part {
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }
}


#month1, #month2 {
    width: 150px;
}


.termTitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.termContent .contentTitle {
    font-weight: bold;
}