@charset "UTF-8";
@keyframes line-repetition {
  0% {
    height: 0px;
    top: 0;
  }
  50% {
    height: 63px;
    top: 37px;
  }
  100% {
    height: 0px;
    top: 100%;
  }
}
.animate-fadeup {
  /* blur + opacity + transition */
  opacity: 1;
  filter: blur(0px) brightness(1);
  transform: translate3d(0, 0%, 0);
  transition: opacity 0.6s, filter 0.6s cubic-bezier(0.5, 1, 0.89, 1), transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity, filter, transform;
}
.animate-fadeup.effect, .animate-fadeup.delayed_effect {
  opacity: 0;
  filter: blur(15px) brightness(1.25);
  transform: translate3d(0, 100px, 0);
}

.animate-fadeup2 {
  /* opacity + transition */
  opacity: 1;
  transform: translate3d(0, 0%, 0);
  transition: opacity 0.6s, transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity, transform;
}
.animate-fadeup2.effect, .animate-fadeup2.delayed_effect {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
}

.animate-fadeup3 {
  /* opacity */
  opacity: 1;
  transition: opacity 0.8s cubic-bezier(0.5, 1, 0.89, 1);
  will-change: opacity;
}
.animate-fadeup3.effect, .animate-fadeup3.delayed_effect {
  opacity: 0;
}

@keyframes flowing {
  100% {
    transform: translate(-100%, -50%);
  }
}
.mt_1 {
  margin-top: 1px;
}

.mb_1 {
  margin-bottom: 1px;
}

.ml_1 {
  margin-left: 1px;
}

.mr_1 {
  margin-right: 1px;
}

.my_1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mx_1 {
  margin-left: 1px;
  margin-right: 1px;
}

.pt_1 {
  padding-top: 1px;
}

.pb_1 {
  padding-bottom: 1px;
}

.pl_1 {
  padding-left: 1px;
}

.pr_1 {
  padding-right: 1px;
}

.py_1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.px_1 {
  padding-left: 1px;
  padding-right: 1px;
}

.fs_1 {
  font-size: 1px !important;
}

.mt_2 {
  margin-top: 2px;
}

.mb_2 {
  margin-bottom: 2px;
}

.ml_2 {
  margin-left: 2px;
}

.mr_2 {
  margin-right: 2px;
}

.my_2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mx_2 {
  margin-left: 2px;
  margin-right: 2px;
}

.pt_2 {
  padding-top: 2px;
}

.pb_2 {
  padding-bottom: 2px;
}

.pl_2 {
  padding-left: 2px;
}

.pr_2 {
  padding-right: 2px;
}

.py_2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.px_2 {
  padding-left: 2px;
  padding-right: 2px;
}

.fs_2 {
  font-size: 2px !important;
}

.mt_3 {
  margin-top: 3px;
}

.mb_3 {
  margin-bottom: 3px;
}

.ml_3 {
  margin-left: 3px;
}

.mr_3 {
  margin-right: 3px;
}

.my_3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mx_3 {
  margin-left: 3px;
  margin-right: 3px;
}

.pt_3 {
  padding-top: 3px;
}

.pb_3 {
  padding-bottom: 3px;
}

.pl_3 {
  padding-left: 3px;
}

.pr_3 {
  padding-right: 3px;
}

.py_3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.px_3 {
  padding-left: 3px;
  padding-right: 3px;
}

.fs_3 {
  font-size: 3px !important;
}

.mt_4 {
  margin-top: 4px;
}

.mb_4 {
  margin-bottom: 4px;
}

.ml_4 {
  margin-left: 4px;
}

.mr_4 {
  margin-right: 4px;
}

.my_4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx_4 {
  margin-left: 4px;
  margin-right: 4px;
}

.pt_4 {
  padding-top: 4px;
}

.pb_4 {
  padding-bottom: 4px;
}

.pl_4 {
  padding-left: 4px;
}

.pr_4 {
  padding-right: 4px;
}

.py_4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.px_4 {
  padding-left: 4px;
  padding-right: 4px;
}

.fs_4 {
  font-size: 4px !important;
}

.mt_5 {
  margin-top: 5px;
}

.mb_5 {
  margin-bottom: 5px;
}

.ml_5 {
  margin-left: 5px;
}

.mr_5 {
  margin-right: 5px;
}

.my_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mx_5 {
  margin-left: 5px;
  margin-right: 5px;
}

.pt_5 {
  padding-top: 5px;
}

.pb_5 {
  padding-bottom: 5px;
}

.pl_5 {
  padding-left: 5px;
}

.pr_5 {
  padding-right: 5px;
}

.py_5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.px_5 {
  padding-left: 5px;
  padding-right: 5px;
}

.fs_5 {
  font-size: 5px !important;
}

.mt_6 {
  margin-top: 6px;
}

.mb_6 {
  margin-bottom: 6px;
}

.ml_6 {
  margin-left: 6px;
}

.mr_6 {
  margin-right: 6px;
}

.my_6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mx_6 {
  margin-left: 6px;
  margin-right: 6px;
}

.pt_6 {
  padding-top: 6px;
}

.pb_6 {
  padding-bottom: 6px;
}

.pl_6 {
  padding-left: 6px;
}

.pr_6 {
  padding-right: 6px;
}

.py_6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.px_6 {
  padding-left: 6px;
  padding-right: 6px;
}

.fs_6 {
  font-size: 6px !important;
}

.mt_7 {
  margin-top: 7px;
}

.mb_7 {
  margin-bottom: 7px;
}

.ml_7 {
  margin-left: 7px;
}

.mr_7 {
  margin-right: 7px;
}

.my_7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mx_7 {
  margin-left: 7px;
  margin-right: 7px;
}

.pt_7 {
  padding-top: 7px;
}

.pb_7 {
  padding-bottom: 7px;
}

.pl_7 {
  padding-left: 7px;
}

.pr_7 {
  padding-right: 7px;
}

.py_7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.px_7 {
  padding-left: 7px;
  padding-right: 7px;
}

.fs_7 {
  font-size: 7px !important;
}

.mt_8 {
  margin-top: 8px;
}

.mb_8 {
  margin-bottom: 8px;
}

.ml_8 {
  margin-left: 8px;
}

.mr_8 {
  margin-right: 8px;
}

.my_8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mx_8 {
  margin-left: 8px;
  margin-right: 8px;
}

.pt_8 {
  padding-top: 8px;
}

.pb_8 {
  padding-bottom: 8px;
}

.pl_8 {
  padding-left: 8px;
}

.pr_8 {
  padding-right: 8px;
}

.py_8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px_8 {
  padding-left: 8px;
  padding-right: 8px;
}

.fs_8 {
  font-size: 8px !important;
}

.mt_9 {
  margin-top: 9px;
}

.mb_9 {
  margin-bottom: 9px;
}

.ml_9 {
  margin-left: 9px;
}

.mr_9 {
  margin-right: 9px;
}

.my_9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mx_9 {
  margin-left: 9px;
  margin-right: 9px;
}

.pt_9 {
  padding-top: 9px;
}

.pb_9 {
  padding-bottom: 9px;
}

.pl_9 {
  padding-left: 9px;
}

.pr_9 {
  padding-right: 9px;
}

.py_9 {
  padding-top: 9px;
  padding-bottom: 9px;
}

.px_9 {
  padding-left: 9px;
  padding-right: 9px;
}

.fs_9 {
  font-size: 9px !important;
}

.mt_10 {
  margin-top: 10px;
}

.mb_10 {
  margin-bottom: 10px;
}

.ml_10 {
  margin-left: 10px;
}

.mr_10 {
  margin-right: 10px;
}

.my_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mx_10 {
  margin-left: 10px;
  margin-right: 10px;
}

.pt_10 {
  padding-top: 10px;
}

.pb_10 {
  padding-bottom: 10px;
}

.pl_10 {
  padding-left: 10px;
}

.pr_10 {
  padding-right: 10px;
}

.py_10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px_10 {
  padding-left: 10px;
  padding-right: 10px;
}

.fs_10 {
  font-size: 10px !important;
}

:root {
  --main-color:#bd0b0b;
  --icon-color:#fc6901;
}

.bg_main-color {
  background: #bd0b0b !important;
}

.text_main-color {
  color: #bd0b0b !important;
}

.border_main-color {
  border-color: #bd0b0b !important;
}

.bg_icon-color {
  background: #fc6901 !important;
}

.text_icon-color {
  color: #fc6901 !important;
}

.border_icon-color {
  border-color: #fc6901 !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "KozGoPr6N-Regular";
  src: url(../font/KozGoPr6N-Regular.otf);
}
@font-face {
  font-family: "KozGoPr6N-Bold";
  src: url(../font/KozGoPr6N-Bold.otf);
}
@font-face {
  font-family: "A-OTF Gothic MB101 Pro B";
  src: url(../font/A-OTF\ Gothic\ MB101\ Pro\ B.otf);
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.052vw;
}

body {
  font-family: "KozGoPr6N-Regular";
  font-size: 20rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 90rem;
  }
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-now1 {
  font-size: 80rem;
  color: #000;
  background-color: #fff;
  border: 1rem solid #000;
  padding: 40rem 150rem;
  border-radius: 150rem;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.tc {
  display: block !important;
}

.tb {
  display: none !important;
}

@media print, screen and (max-width: 991px) {
  .tc {
    display: none !important;
  }
  .tb {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media print, screen and (min-width: 769px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2 {
  line-height: 1.2;
}

h3,
h4 {
  line-height: 1.5;
}

h5,
h6 {
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[role=button] {
  cursor: pointer;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

[hidden] {
  display: none !important;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  clear: both;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 100rem;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #FFF;
  box-shadow: 4rem 4rem 3rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
  header {
    padding: 50rem 100rem;
  }
}
header .logo {
  width: 200rem;
}
@media only screen and (max-width: 768px) {
  header .logo {
    width: 40%;
  }
}
header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38.8rem;
}
header .right .login-btn {
  font-family: "KozGoPr6N-Bold";
  font-size: 16rem;
  color: #FFF;
  padding: 12rem 34rem;
  background-color: #512d75;
  border: 1rem solid #512d75;
  border-radius: 8.5rem;
  box-shadow: 4.3rem 4.3rem 3.2rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
header .right .login-btn:hover {
  background-color: #FFF;
  border: 1rem solid #512d75;
  color: #512d75;
  box-shadow: 4.3rem 4.3rem 3.2rem rgba(81, 45, 117, 0.3);
}
@media only screen and (max-width: 768px) {
  header .right .login-btn {
    display: none;
  }
}
header #hamburger {
  display: none;
  background: none;
  width: 30px;
  height: 20px;
  text-align: center;
  position: relative;
  transition: all 0.5s;
  margin-right: 30rem;
}
header #hamburger span {
  display: block;
  width: 100%;
  height: 1px;
  background: #512d75;
  position: absolute;
  opacity: 1;
  transition: all 0.5s;
}
header #hamburger span:nth-child(1) {
  top: 0;
}
header #hamburger span:nth-child(2) {
  top: 50%;
}
header #hamburger span:nth-child(3) {
  top: 100%;
}
header #hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
header #hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(90deg);
}
header #hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
@media only screen and (max-width: 768px) {
  header #hamburger {
    display: block;
  }
}

#nav-menu {
  width: 100%;
  height: 100vh;
  font-family: "DMSans-B";
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.5s;
  z-index: 998;
  overflow-y: scroll;
}
@media only screen and (max-width: 768px) {
  #nav-menu {
    padding-top: 800rem;
    font-size: 100rem;
  }
}
#nav-menu ul {
  margin-left: 250rem;
}
#nav-menu ul li {
  padding: 50rem 0;
}
#nav-menu ul .book-now11 {
  margin-left: 60rem;
}
#nav-menu ul .login-group {
  margin-top: 120rem;
}
#nav-menu.active {
  left: 0;
}

main .fv .swiper-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
main .fv .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .fv .text {
  position: absolute;
  top: 30%;
  left: 500rem;
  z-index: 10;
  font-family: "A-OTF Gothic MB101 Pro B";
  color: #FFF;
  text-align: center;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c;
}
@media only screen and (max-width: 768px) {
  main .fv .text {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626;
  }
}
main .fv .text h1 {
  font-size: 100rem;
}
@media only screen and (max-width: 768px) {
  main .fv .text h1 {
    font-size: 160rem;
  }
}
main .fv .text h2 {
  font-size: 80rem;
  margin-top: 50rem;
}
@media only screen and (max-width: 768px) {
  main .fv .text h2 {
    font-size: 120rem;
    margin-top: 80rem;
  }
}
main .news {
  text-align: center;
}
main .news .wrap {
  width: calc(100% - 200rem);
  margin: auto;
}
@media only screen and (max-width: 768px) {
  main .news .wrap {
    width: calc(100% - 100rem);
  }
}
main .news .wrap .movetextArea {
  margin-top: 150rem;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .movetextArea {
    margin-top: 300rem;
  }
}
main .news .wrap .movetextArea .sec_ttl {
  font-family: "KozGoPr6N-Bold";
  font-size: 50rem;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .movetextArea .sec_ttl {
    font-size: 100rem;
  }
}
main .news .wrap .news_list {
  margin: 100rem 0;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .news_list {
    margin: 150rem 0;
  }
}
main .news .wrap .news_list li {
  width: 800rem;
  margin: auto;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .news_list li {
    width: 100%;
    padding: 0 50rem;
  }
}
main .news .wrap .news_list li a {
  line-height: 30rem;
  display: flex;
  align-items: center;
  gap: 140rem;
  border-bottom: 0.75px solid #E4E4E4;
  padding: 33rem 0;
  transition: all 0.35s;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .news_list li a {
    line-height: 120rem;
    font-size: 70rem;
    gap: 150rem;
    padding: 60rem 0;
  }
}
main .news .wrap .sec_btn {
  width: 250rem;
  height: 50rem;
  border: 0.75px solid #512d75;
  border-radius: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: all 0.35s;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .sec_btn {
    width: 800rem;
    height: 250rem;
    font-size: 70rem;
    border-radius: 150rem;
  }
}
main .news .wrap .sec_btn:hover {
  background-color: #512d75;
  color: #FFF;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rem 100rem;
  background-color: #512d75;
  color: #fff;
  margin-top: 150rem;
}
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    margin-top: 300rem;
    padding: 150rem 100rem;
  }
}
footer .footer-logo {
  text-align: center;
}
footer .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  font-size: 15rem;
}
@media only screen and (max-width: 768px) {
  footer .footer-menu {
    font-size: 50rem;
    margin-top: 80rem;
    gap: 100rem;
  }
}
footer .footer-menu .menu-item {
  position: relative;
}
footer .footer-menu .menu-item::before {
  content: "";
  width: 0;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}
footer .footer-menu .menu-item:hover::before {
  width: 100%;
}/*# sourceMappingURL=style.css.map */