

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "KozGoPr6N-Regular";
  src: url(../font/KozGoPr6N-Regular.otf);
}
@font-face {
  font-family: "KozGoPr6N-Bold";
  src: url(../font/KozGoPr6N-Bold.otf);
}
@font-face {
  font-family: "A-OTF Gothic MB101 Pro B";
  src: url(../font/A-OTF\ Gothic\ MB101\ Pro\ B.otf);
}
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 0.052vw;
}

body {
  font-family: "KozGoPr6N-Regular";
  font-size: 20rem;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 80rem;
  }
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-now1 {
  font-size: 80rem;
  color: #000;
  background-color: #fff;
  border: 1rem solid #000;
  padding: 40rem 150rem;
  border-radius: 150rem;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.tc {
  display: block !important;
}

.tb {
  display: none !important;
}

@media print, screen and (max-width: 991px) {
  .tc {
    display: none !important;
  }
  .tb {
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media print, screen and (min-width: 769px) {
  .pc-hide {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .sp-hide {
    display: none !important;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2 {
  line-height: 1.2;
}

h3,
h4 {
  line-height: 1.5;
}

h5,
h6 {
  line-height: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

b,
strong {
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[role=button] {
  cursor: pointer;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

[hidden] {
  display: none !important;
}

*:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  visibility: hidden;
  height: 0;
  display: block;
  font-size: 0;
  clear: both;
}

* html .clearfix {
  zoom: 1;
}

*:first-child + html .clearfix {
  zoom: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 100rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #FFF;
  box-shadow: 4rem 4rem 3rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 768px) {
  header {
    padding: 50rem 100rem;
  }
}
header .logo {
  width: 200rem;
}
@media only screen and (max-width: 768px) {
  header .logo {
    width: 40%;
  }
}
header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38.8rem;
}
header .right .login-btn {
  font-family: "KozGoPr6N-Bold";
  font-size: 16rem;
  color: #FFF;
  padding: 12rem 34rem;
  background-color: #512d75;
  border: 1rem solid #512d75;
  border-radius: 8.5rem;
  box-shadow: 4.3rem 4.3rem 3.2rem rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
header .right .login-btn:hover {
  background-color: #FFF;
  border: 1rem solid #512d75;
  color: #512d75;
  box-shadow: 4.3rem 4.3rem 3.2rem rgba(81, 45, 117, 0.3);
}
@media only screen and (max-width: 768px) {
  header .right .login-btn {
    display: none;
  }
}
header #hamburger {
  display: none;
  background: none;
  width: 30px;
  height: 20px;
  text-align: center;
  position: relative;
  transition: all 0.5s;
  margin-right: 30rem;
}
header #hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #512d75;
  position: absolute;
  opacity: 1;
  transition: all 0.5s;
}

header #hamburger.active span {
  background-color: #FFF;
}

header #hamburger span:nth-child(1) {
  top: 0;
}
header #hamburger span:nth-child(2) {
  top: 50%;
}
header #hamburger span:nth-child(3) {
  top: 100%;
}
header #hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
header #hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(90deg);
}
header #hamburger.active span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
@media only screen and (max-width: 768px) {
  header #hamburger {
    display: block;
    position: relative;
    z-index: 999;
  }
}

#nav-menu {
  width: 100%;
  height: 100vh;
  font-family: "DMSans-B";
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.5s;
  z-index: 998;
  overflow-y: scroll;
}
@media only screen and (max-width: 768px) {
  #nav-menu {
    font-size: 100rem;
  }
}
#nav-menu ul {
  margin-top: 800rem;
  margin-left: 250rem;
}
#nav-menu ul li {
  padding: 50rem 0;
}
#nav-menu ul .book-now11 {
  margin-left: 60rem;
}
#nav-menu ul .login-group {
  margin-top: 120rem;
}
#nav-menu.active {
  left: 0;
}

.fv {
  width: 100vw;
  /* height: 55.74vh; */
}
/* @media only screen and (max-width: 768px) {
  .fv {
    height: 40vh;
  }
} */
.fv .fv-img {
  width: 100%;
  height: 100%;
}

/* main .fv .swiper-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
main .fv .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .fv .text {
  position: absolute;
  top: 30%;
  left: 500rem;
  z-index: 10;
  font-family: "A-OTF Gothic MB101 Pro B";
  color: #FFF;
  text-align: center;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c;
}
@media only screen and (max-width: 768px) {
  main .fv .text {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626;
  }
}
main .fv .text h1 {
  font-size: 100rem;
}
@media only screen and (max-width: 768px) {
  main .fv .text h1 {
    font-size: 160rem;
  }
}
main .fv .text h2 {
  font-size: 80rem;
  margin-top: 50rem;
}
@media only screen and (max-width: 768px) {
  main .fv .text h2 {
    font-size: 120rem;
    margin-top: 80rem;
  }
} */
main .news {
  text-align: center;
}
main .term {
  text-align: left !important;
}

main .news .wrap {
  width: calc(100% - 200rem);
  margin: auto;
}
/* @media only screen and (max-width: 768px) {
  main .news .wrap {
    width: calc(100% - 100rem);
  }
} */
main .news .wrap .movetextArea, main .news .wrap .contentArea {
  margin-top: 150rem;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .movetextArea, main .news .wrap .contentArea {
    margin-top: 300rem;
  }
}

main .news .wrap .contentArea .contentTitle {
  font-size: 25rem;
  font-weight: bold;
  margin-top: 30rem;
}

main .news .wrap .contentArea .contentLeft {
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  main .news .wrap .contentArea .contentTitle {
    font-size: 80rem;
    margin-top: 100rem;
  }
  main .news .wrap .contentArea .contentLeft {
    margin-left: 0;
  }
}

main .news .wrap .movetextArea .sec_ttl {
  font-family: "KozGoPr6N-Bold";
  font-size: 50rem;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .movetextArea .sec_ttl {
    font-size: 100rem;
  }
}
main .news .wrap .news_list, main .news .wrap .menu_list{
  margin: 100rem 0;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .news_list {
    margin: 150rem 0;
  }
}
main .news .wrap .news_list li {
  width: 800rem;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  main .news .wrap .news_list li {
    width: 100%;
    padding: 0 50rem;
  }
}
main .news .wrap .news_list li a {
  line-height: 30rem;
  display: flex;
  align-items: center;
  gap: 140rem;
  border-bottom: 0.75px solid #E4E4E4;
  padding: 33rem 0;
  transition: all 0.35s;
}
main .news .wrap .menu_list li {
  width: 400rem;
  margin: auto;
}

main .news .wrap .menu_list li a {
  line-height: 30rem;
  border-bottom: 0.75px solid #E4E4E4;
  transition: all 0.35s;
}

@media only screen and (max-width: 768px) {
  main .news .wrap .news_list li a {
    line-height: 120rem;
    font-size: 70rem;
    gap: 150rem;
    padding: 60rem 0;
  }
}

/* --------------------notice page --------------------*/

main .news .wrap .news_list1 li {
  display: flex;
  gap: 50rem;
  margin-bottom: 20rem;
}

main .news .wrap .news_list1 li .news_ttc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
}

@media only screen and (max-width: 768px) {
  main .news .wrap .news_list1 li {
    flex-direction: column;
    margin-bottom: 200rem;
    text-align: left;
  }
}






main .news .wrap .sec_btn {
  width: 250rem;
  height: 50rem;
  border: 0.75px solid #512d75;
  border-radius: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: all 0.35s;
}
@media only screen and (max-width: 768px) {
  main .news .wrap .sec_btn {
    width: 800rem;
    height: 250rem;
    font-size: 70rem;
    border-radius: 150rem;
  }
}
main .news .wrap .sec_btn:hover {
  background-color: #512d75;
  color: #FFF;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30rem 100rem;
  background-color: #512d75;
  color: #fff;
  margin-top: 150rem;
}
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    margin-top: 300rem;
    padding: 150rem 100rem;
  }
}
footer .footer-logo {
  text-align: center;
}
footer .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25rem;
  font-size: 15rem;
}
@media only screen and (max-width: 768px) {
  footer .footer-menu {
    font-size: 50rem;
    margin-top: 80rem;
    gap: 100rem;
  }
}
footer .footer-menu .menu-item {
  position: relative;
}
footer .footer-menu .menu-item::before {
  content: "";
  width: 0;
  height: 2rem;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}
footer .footer-menu .menu-item:hover::before {
  width: 100%;
}/*# sourceMappingURL=style.css.map */